<div id="includedContent">
<div class="header--img">
  <figure>
<a href="index.html"><img src="assets/images/banner-logo2.png" alt="banner conpat chiapas 2019"></a>
  </figure>
</div>

<div class='content-menu' id='cssmenu'>
  <ul>
    <li><a href='index.html'>Inicio</a></li>
    <li class='active'><a href='#'>¿Quienes somos?</a>
      <ul>
        <li><a href='congresosconpat.html'>Congresos CONPAT</a>
          <!--
          <ul>
             <li><a href='#'>Sub Product</a></li>
             <li><a href='#'>Sub Product</a></li>
          </ul>
-->
        </li>
        <li><a href='alconpatinternacional.html'>Alconpat Internacional</a></li>
        <li><a href='alconpatmexico.html'>Alconpat México</a>
          <!--
          <ul>
             <li><a href='#'>Sub Product</a></li>
             <li><a href='#'>Sub Product</a></li>
          </ul>
-->
        </li>
        <li><a href='misionvision.html'>Misión y visión</a></li>
      </ul>
    </li>
    <li><a href='#'>Información general</a>
      <ul>
        <li><a href='lugardelevento.html'>Lugar del evento</a></li>
        <li><a href='programa.html'>Programa</a></li>
        <li><a href='ejestematicos.html'>Ejes temáticos de ponencias</a></li>
        <li><a href='fechasimportantes.html'>Fechas importantes</a></li>
        <li><a href='conferencistas.html'>Conferencistas</a></li>
        <li><a href='cursostematicos.html'>Cursos temáticos</a></li>
        <li><a href='articulospremiados.html'>Artículos premiados</a></li>
      </ul>
    </li>
    <li><a href='#'>Comités</a>
      <ul>
        <li><a href='honra.html'>Comisión de honor</a></li>
        <li><a href='organizadora.html'>Comisión organizadora</a></li>
        <li><a href='cientifica.html'>Comisión científica</a></li>
      </ul>
    </li>
    <li><a href='#'>Conferencias</a>
      <ul>
        <li><a href='magistrales.html'>Magistrales</a></li>
        <li><a href='tematicas.html'>Temáticas</a></li>
      </ul>
    </li>
    <li><a href='#'>Registro de trabajos</a>
      <ul>
        <li><a href='resumenes.html'>Resumenes</a></li>
        <li><a href='trabajos.html'>Trabajos en extenso</a></li>
      </ul>
    </li>
    <li><a href='#'>Prepara tu viaje</a>
      <ul>
        <li><a href='tuxtlagutierrez.html'>Tuxtla Gutiérrez, Chiapas</a></li>
        <li><a href='comollegar.html'>Como llegar</a></li>
        <li><a href='hoteles.html'>Hoteles</a></li>
        <li><a href='paquetes.html'>Paquetes turísticos</a></li>
      </ul>
    </li>
    <li><a href='inscripciones.html'>Inscripciones</a></li>
    <li><a href='contactenos.html'>Contáctenos</a></li>
  </ul>
</div>
</div>
