<div id="includedfooter">
<section id="aboutArea" class="aboutArea">
  <div class="aboutArea__tittle"><h2>Instituciones Colaboradoras:</h2></div>
<div class="aboutArea__item">
   <a href="#" target="_blank"><figure><img src="assets/images/logos/logo_unach.png" height="80" style="text-align: center;" alt="CINVESTAV"></figure></a>
  </div>
<div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/sigloxxi.png" height="80" alt="FEMCIC"></figure></a>
  </div>
  <div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/cicch.png" height="80" alt="IBRACON"></figure></a>
  </div>
  <div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/CICCCH.png" height="80" alt="IMCYC"></figure></a>
  </div>
  <div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/cachac.png" height="80" alt="Rilem"></figure></a>
  </div>
  <div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/logo_png_negro.png" height="80" alt="fib"></figure></a>
  </div>
<div class="aboutArea__item">
    <a href="#" target="_blank"><figure><img src="assets/images/logos/alz.png" height="80" alt="SOPY"></figure></a>
  </div>
  <div class="aboutArea__item">
      <a href="#" target="_blank"><figure><img src="assets/images/logos/ociech.png" height="80" alt="SOPY"></figure></a>
    </div>
    <div class="aboutArea__item">
        <a href="#" target="_blank"><figure><img src="assets/images/logos/LOGO-CMIC.png" height="80" alt="SOPY"></figure></a>
      </div>
</section>
</div>
